@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
/* geral in */

:root{
    --bg-divs:rgba(218, 217, 216, 0.466);
    --bg-space:rgba(197, 230, 228, 0.548);
}

.fundofixo{
    background: url('images/vmv.jpg') no-repeat fixed;
    background-size: cover;
    -webkit-background-size:cover;
   
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.txtmain{
    display: flex;
    margin: 0 0.4%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-divs)
}

/* geral out */

/* topo do site in */

.nav{
    display: flex;
    align-items: center;
    padding: 18px 0;

    
}

header{
    background-color: var(--bg-divs);
    display: flex;
    margin: 0.4%;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: start;
}

.menu{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

/* topo do site out */

/* apresentasão in */

.energiaSolar{
    display: flex;
    margin: 0.4%;
    background-color: var(--bg-divs);
}

.energiaSolarImagem{
    display: flex;
    justify-content: center;
    width: 50%;
}

.energiaSolarDescri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.vmvSite{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-space);
    height: 300px;
}

.vmvSite ul{
    display: flex;
    justify-content: space-around;
}

.vmvSite ul li{
    width: 20%;
    list-style-type: none;
    padding-right: 14px;
    background: floralwhite;
}

/* apresentasão out */

/* serviços in */

.imtxlist{
    display: flex;
    flex-direction: column;
    margin: 0 0.4%;
    background-color: var(--bg-divs);
    margin-bottom: 5px;
    height: 400px;
}

.imtxlist ul{
    display: flex;
    justify-content: center;
}

.imtxlist ul li{
    width: 13%;
    list-style-type: none;
    padding-right: 14px;
}

/* serviços out */

/* sobre nós in */



/* sobre nós out */

/* produtos in*/

.buttonBoxMenu{
    text-decoration: none;
    padding: 4px;
    color: black;
    cursor: url(images/ar-condicionado.cur), pointer;
}

.buttonBoxMenu:hover{
    color: black;
    border: solid 2px black;
}

.containerimg{
    max-width: 100%;
}

.containerimg img{
    max-width: 100%;
}

.linha{
    display: flex;
    justify-content: space-around;
}

.w50{
    width: 50%;
    margin: 20px auto;
}

.w75{
    width: 75%;
    margin: 20px auto;
}

.w100{
    width: 100%;
    margin: 20px auto;
}

/* produtos out*/

/* Contato in */

.contat{
    display: flex;
    justify-content: center;
    background-color: var(--bg-divs);
    width: 100%;
}

.contatoImagem{
    background-color: #fff;
    width: 50%;
}

.form{
    width: 50%;
}

#endereco{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 40px;
    width: 100%;
}

/* Contato out */

/* PageShop in */

.txtprodut{
    display: flex;
    margin: 0 0.4%;
    padding: 10px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: var(--bg-divs)
}

.produtDescri{
    display: flex;
    margin: 0.4%;
    background-color: var(--bg-divs);
    height: 50%;
}

.produtDescritxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.produtDescriimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* PageShop out */

/* Scroll Top Button in */

/* #progress{
    background-color: #078791;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70%;
    width: 70%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
} */

/* Scroll Top Button out */

/* .... - - .--. ... ---... -..-. -..-. --. .. - .... ..- -... .-.-.- -.-. --- -- -..-. ...- .. - --- .-. ..... ----- ..--- */