@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root{
    --bg-divs:rgba(218, 217, 216, 0.466);
    --bg-space:rgba(197, 230, 228, 0.548);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.txtmain{
    display: flex;
    justify-content: center;
}

/* topo do site in */

.nav{
    display: flex;
    align-items: center;
    padding: 18px 0;
}

header{
    background-color: var(--bg-divs);
    display: flex;
    margin: 0.4%;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: start;
}

.menu{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}
/* topo do site out */

/* apresentasão in */

.energiaSolar{
    display: flex;
    margin: 0.4%;
    background-color: var(--bg-divs);
}

.energiaSolarImagem{
    width: 50%;
}

.energiaSolarDescri{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.energiaSolarDescri img{
    z-index: 1;
}

.vmvSite{
    background-color: var(--bg-space);
}

.vmvSite ul{
    display: flex;
    justify-content: space-around;
}

.vmvSite ul li{
    list-style-type: none;
    padding-right: 14px;
}

/* apresentasão out */

/* serviços in */



/* serviços out */

/* sobre nós in */



/* sobre nós out */

/* produtos in*/

.itemsprts{
    justify-content: center;
    align-items: center;
}

.produt ul{
    display: flex;
}

.produt ul li{
    display: flex;
    list-style-type: none;
    padding-right: 14px;
}

.produt ul li a img{
    width: 40%;
    justify-content: space-around;
}

/* produtos out*/

/* Contato in */

.contat{
    display: flex;
    justify-content: end;
}

/* Contato out */




/* .... - - .--. ... ---... -..-. -..-. --. .. - .... ..- -... .-.-.- -.-. --- -- -..-. ...- .. - --- .-. ..... ----- ..--- */